<h1>Gráfica de respuestas</h1>


<h3>Por estado</h3>
<%= pie_chart @estado %>
<hr>
<h3>Por genero</h3>
<%= bar_chart @genero %>


<%= link_to 'Ir a formulario', new_poll_path%>
<br>
<%= link_to 'Ir a feedbacks', feedbacks_path%>
