// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Colors
$color-1: #2ecc71;
$color-2: #f1c40f;
$color-3: #e74c3c;

#mensaje_motivo{
  display: block;
  padding: 5px;
}

#agregar {
  display: none;
}

#custom-radios {
  display: block;
  text-align: center;

  input[type="radio"] {
      display: none;
  }

  label{
    width: 150px;
    height: 150px;
    margin-left: 10px;
  }

  label img{
    width: 150px;
    height: 150px;

    padding: 20px;

    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    border: 5px solid #fff;
  }

  #label_color_1 img{
    background-color: $color-1;
  }

  #label_color_2 img{
    background-color: $color-2;
  }

  #label_color_3 img{
    background-color: $color-3;
  }

}


#myModal {
  .modal-title {
    color: black;
  }

  .modal-body {
    color: red;
  }
}
