// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Colors
$color-1: #2ecc71;
$color-2: #f1c40f;
$color-3: #e74c3c;

#mensaje_motivo{
  display: block;
  padding: 5px;
}

#custom-radios {
  display: block;
  text-align: center;

  input[type="radio"] {
      display: none;
  }

  label{
    width: 150px;
    height: 150px;
    margin-left: 10px;
  }

  label img{
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
  }

  #label_color_1 img{
    background-color: $color-1;
  }

  #label_color_2 img{
    background-color: $color-2;
  }

  #label_color_3 img{
    background-color: $color-3;
  }

}
